@import "./colours";
@import "./responsive";

$font-sizes: (
  h1: 2.441rem,
  h2: 1.953rem,
  h3: 1.563rem,
  h4: 1.25rem,
  h5: 1rem,
  small: 0.85rem
);

@mixin font-size($font-tag) {
  @each $tag, $size in $font-sizes {
    @if $font-tag == $tag {
      font-size: $size;
    }
  }
}

html {
  font-size: 95%;

  @include wider($mobile-modern) {
    font-size: 100%;
  }

  @include wider($desktop) {
    font-size: 105%;
  }

  @include wider($wide-screen) {
    font-size: 110%;
  }
}

body {
  color: $white;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: $white;
}

@each $tag, $size in $font-sizes {
  #{$tag} {
    font-size: $size;
  }
}

.typo-light {
  font-weight: 300;
}

.typo-emoji {
  @include font-size(h4);
}
