@import "../styles/colours";
@import "../styles/responsive";

.app {
  margin: 0 auto;
  max-width: $mobile-landscape;
  padding: 1.25rem 0;
}

.logo {
  margin: 0.25rem auto 1.25rem;
  padding: 0 1.25rem;
  width: 7rem;
}

.app-controls {
  align-items: center;
  border-bottom: 1px solid rgba($white, 0.5);
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem 2.5rem 0.75rem;
  padding-bottom: 0.5rem;
}
