@import "../styles/colours";
@import "../styles/responsive";

.app {
  margin: 0 auto;
  max-width: $mobile-landscape;
  padding: 1.25rem;
}

.logo {
  margin: 0.25rem 0 1.25rem 0;
  text-align: center;
}

.app-controls {
  align-items: center;
  border-bottom: 1px solid rgba($white, 0.5);
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  padding-bottom: 0.5rem;
}

.footer-made {
  align-items: center;
  display: flex;
  justify-content: center;
}
