.date-picker {
  align-items: center;
  display: flex;
  width: 50%;

  &__icon {
    height: 1rem;
    width: 1rem;

    &:hover {
      cursor: pointer;
    }

    &--back {
      transform: rotate(180deg);
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__date {
    margin: 0 0.5rem;
    min-width: 8rem;
    text-align: center;
  }
}
