@import "../styles/colours";

.forecast {
  margin-bottom: 2.5rem;
}

.precipitation {
  margin-bottom: 2.5rem;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;

  &__item {
    width: 5rem;

    &:last-of-type {
      text-align: right;
    }
  }
}

.brolly {
  width: 8rem;
}

.summary {
  text-align: center;
}

.forecast-hourly {
  background-color: rgba($white, 0.15);
  border-bottom: 1px solid rgba($white, 0.5);
  border-top: 1px solid rgba($white, 0.5);
  height: 5rem;
}
