@import "../styles/colours";

.empty-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 0 1.25rem;
  text-align: center;
}

.forecast {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-top: 2.5rem;
}

.precipitation {
  margin-bottom: 2.5rem;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;

  &__item {
    width: 33%;

    &:last-of-type {
      text-align: right;
    }

    p {
      margin: 0;
    }
  }
}

.brolly {
  transition: all 0.3s ease-in;
  padding: 0 0.75rem;
  width: 33%;

  &--loading {
    animation: spin 2s linear infinite;
    margin-bottom: 1.25rem;
  }
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;

  &__icon {
    height: 2.25rem;
    margin-right: 0.75rem;
    width: 1rem;
  }

  span {
    display: inline-block;
    min-width: 1.6rem;
  }
}

.wind {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__icon {
    width: 2rem;
  }
}

.summary {
  text-align: center;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
