@import "../styles/colours";

.empty-container {
  padding: 0 1.25rem;
  text-align: center;
}

.forecast {
  margin-bottom: 2.5rem;
}

.precipitation {
  margin-bottom: 2.5rem;
  text-align: center;

  &__title {
    margin: 0;
  }

  &__description {
    margin: 0;
  }
}

.main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.25rem;

  &__item {
    width: 33%;

    &:last-of-type {
      text-align: right;
    }

    p {
      margin: 0;
    }
  }
}

.brolly {
  transition: all 0.3s ease-in;
  width: 33%;
}

.temperature {
  align-items: center;
  display: flex;
  justify-content: center;

  &__icon {
    height: 2.25rem;
    margin-right: 0.75rem;
    width: 1rem;
  }
}

.wind {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__icon {
    width: 2rem;
  }
}

.summary {
  text-align: center;
}
