.background {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in;
  transition-delay: 0.3s;
  z-index: -999;

  &:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &--partly-cloudy {
    background: #95a5a6;
  }

  &--cloudy {
    background: #6c7a89;
  }

  &--clear-night {
    background: #212121;
  }
}
