.background {
  background: #00a8ff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in;
  z-index: -999;

  &:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &--sunny {
    background: #00a8ff;
  }

  &--partly-cloudy {
    background: #718093;
  }

  &--cloudy {
    background: #6c7a89;
  }

  &--clear-night {
    background: #212121;
  }

  &--heavy-snow {
    background: #2f3640;
  }

  &--light-rain {
    background: #487eb0;
  }

  &--heavy-rain {
    background: #192a56;
  }

  &--thunder {
    background: #e1b12c;
  }
}
