@import "../styles/colours";

.hourly-forecast {
  align-items: center;
  background-color: rgba($white, 0.15);
  border: 1px solid rgba($white, 0.5);
  display: flex;
  overflow-x: scroll;
  padding: 1.25rem;
  margin: 0 0.75rem;

  &__item {
    min-width: 5rem;
    padding-right: 1.25rem;
    position: relative;
    text-align: center;

    &:after {
      background-color: rgba($white, 0.5);
      bottom: -0.5rem;
      content: "";
      display: block;
      left: 0;
      height: 1px;
      position: absolute;
      transition: all 0.3s ease-out;
      transform: scaleX(0);
      visibility: hidden;
      width: calc(100% - 1.25rem);
    }

    &:hover {
      cursor: pointer;
    }

    h5 {
      margin: 0 0 0.25rem 0;
    }

    p {
      margin: 0;
      white-space: nowrap;
    }

    &--past {
      opacity: 0.5;
      pointer-events: none;
    }

    &--current {
      small {
        font-weight: bold;
      }

      &:after {
        transform: scaleX(1);
        visibility: visible;
      }
    }
  }
}
