@import "../styles/colours";

.hourly-forecast {
  align-items: center;
  background-color: rgba($white, 0.15);
  border: 1px solid rgba($white, 0.5);
  display: flex;
  overflow-x: scroll;
  padding: 1.25rem;

  &__item {
    margin-right: 1.25rem;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    &:last-of-type {
      margin-right: 0;
    }

    h5 {
      margin: 0 0 0.25rem 0;
    }

    p {
      margin: 0;
      white-space: nowrap;
    }

    &--past {
      opacity: 0.5;
    }

    &--current {
      small {
        font-weight: bold;
      }
    }
  }
}
