@import "../styles/colours";

.location {
  align-items: center;
  display: flex;
  margin-right: 1.25rem;
}

.location-input {
  background-color: transparent;
  border: none;
  color: $white;

  &:focus {
    outline: none;
  }
}

.location-icon {
  height: 1rem;
  width: 1rem;

  &:hover {
    cursor: pointer;
  }
}
